@media (min-width: 1200px) {

	.sm-simple > .menu-item {
		padding: 0 10px;
	}

	.sm-simple > .menu-item.pr0 {
		padding-right: 0;
	}

	.sm-simple > .menu-item.pl0 {
		padding-left: 0;
	}

	.sm-simple > li > a:before {
		content: "";
		display: block;
		height: 3px;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		transition: transform .3s ease;
		transform: scaleX(0);
	}

	.sm-simple > li > a:hover:before,
	.sm-simple > li > a.highlighted:before {
		background: #B10E1E;
		transform: scaleX(1);
	}

	.sm-simple > li.current-menu-item > a:before,
	.sm-simple > li.current_page_item > a:before,
	.sm-simple > li.current_page_parent > a:before,
	.sm-simple > li.current-page-ancestor > a:before  {
		background: #BA321D;
		transform: scaleX(1);
	}

	.no-js .sm ul ul {
		min-width: 12em;
		left: 100% !important;
		top: 0 !important;
	}

	.sm-simple a.highlighted .sub-arrow:after {
		content: "\f3d0";
	}

	.site-title-wrap {
		float: left;
		position: relative;
	}

	.header-inline-menu-title .site-title-wrap {
		padding-left: 15px;
	}

	.menu-primary   {
		align-items: center;
		display: -webkit-box; display: -ms-flexbox; display: flex;
		-webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;
		-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
		margin-left: auto;
	}

	.site-header .menu-items {
		float: left;
	}

	.sm-simple ul {
		position: absolute;
		width: 12em;
	}

	.sm-simple li {
		float: left;
	}

	.sm-simple.sm-rtl li {
		float: right;
	}

	.sm-simple ul li, .sm-simple.sm-rtl ul li, .sm-simple.sm-vertical li {
		float: none;
	}

	.sm-simple a {
		white-space: nowrap;
	}

	.sm-simple ul a, .sm-simple.sm-vertical a {
		white-space: normal;
	}

	.sm-simple .sm-nowrap > li > a,
	.sm-simple .sm-nowrap > li > :not(ul) a {
		white-space: nowrap;
	}

	.sm-simple a {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		width: auto;
	}

	.sm-simple ul li a {
		padding: .85em;
	}

	.header-s-l .sm-simple li:first-child a,
	.header-i-m-lr  .sm-simple li:first-child a {
		padding-left: 0;
	}

	.sm-simple a.disabled {
		background: white;
		color: #cccccc;
	}

	.sm-simple a.has-submenu {
		padding-right: 10px;
	}

	.sm-simple a .sub-arrow {
		width: 8px;
		background: transparent;
	}

	.sm-simple a .sub-arrow:after {
		font-size: 12px;
	}

	.sm-simple > li:first-child {
		border-left: 0;
	}

	.sm-simple ul {
		border: 1px solid rgba(39, 55, 64, 0.09);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01);
		background: #fff;
	}

	.sm-simple ul a.has-submenu {
		padding-right: 30px;
	}

	.sm-simple ul a .sub-arrow {
		position: absolute;
		right: 12px;
	}

	.sm-simple ul a .sub-arrow:after {
		position: absolute;
		right: 12px;
		top: 50%;
		margin-top: -6px;
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.sm-simple .sub-menu li {
		border-bottom: 1px solid rgba(39, 55, 64, 0.09);
	}

	.sm-simple .sub-menu li:last-child {
		border-bottom: none;
	}

	.sm-simple ul > li:first-child {
		border-top: 0;
	}

	.sm-simple span.scroll-up,
	.sm-simple span.scroll-down {
		display: none;
		position: absolute;
		overflow: hidden;
		visibility: hidden;
		background: white;
		height: 20px;
	}

	.sm-simple span.scroll-up-arrow,
	.sm-simple span.scroll-down-arrow {
		position: absolute;
		top: -2px;
		left: 50%;
		margin-left: -8px;
		width: 0;
		height: 0;
		overflow: hidden;
		border-width: 8px;
		border-style: dashed dashed solid dashed;
		border-color: transparent transparent #555555 transparent;
	}

	.sm-simple span.scroll-down-arrow {
		top: 6px;
		border-style: solid dashed dashed dashed;
		border-color: #555555 transparent transparent transparent;
	}

	.sm-simple.sm-rtl a.has-submenu {
		padding-right: 20px;
		padding-left: 32px;
	}

	.sm-simple.sm-rtl a .sub-arrow {
		right: auto;
		left: 20px;
	}

	.sm-simple.sm-rtl.sm-vertical a.has-submenu {
		padding: 11px 20px;
	}

	.sm-simple.sm-rtl.sm-vertical a .sub-arrow {
		right: 20px;
		margin-right: -12px;
	}

	.sm-simple.sm-rtl > li:first-child {
		border-left: 1px solid #eeeeee;
	}

	.sm-simple.sm-rtl > li:last-child {
		border-left: 0;
	}

	.sm-simple.sm-rtl ul a.has-submenu {
		padding: 11px 20px;
	}

	.sm-simple.sm-rtl ul a .sub-arrow {
		right: 20px;
		margin-right: -12px;
	}

	.sm-simple.sm-vertical a .sub-arrow {
		right: auto;
		margin-left: -12px;
	}

	.sm-simple.sm-vertical li {
		border-left: 0;
		border-top: 1px solid #eeeeee;
	}

	.sm-simple.sm-vertical > li:first-child {
		border-top: 0;
	}

	.access-inner {
		-webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;
		-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
	}

	.header-inline-menu-title .access-inner {
		-webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse;
	}

	.menu-primary {
		width: auto;
	}

	.header-inline-title-menu .site-access li:last-child,
	.header-stack-right .site-access li:last-child {
		padding-right: 0;
	}

	.header-inline-menu-title .site-access li:first-child,
	.header-stack-left .site-access li:first-child {
		padding-left: 0;
	}

	.main-menu-btn {
		display: none !important;
	}

	.menu-primary-items {
		position: relative;
		top: 0;
	}

	.menu-primary-items[aria-expanded="false"] {
		display: block;
	}
}
